.categories {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}

.categories__image {
  height: clamp(12rem, 70vw, 50vh);
  margin-left: 2rem;
}

.categories__name {
  text-align: center;
}
