.questionnaire {
  position: relative;
  overflow: hidden;
  background-color: #f6ece2;
}

.questionnaire__questions-container {
  display: flex;
  flex-wrap: nowrap;
  flex-direction: column;
  max-height: 100vh;
  transition: all 0.5s ease-in-out;
}

.questionnaire__navigation {
  position: absolute;
  bottom: 2rem;
  right: 2rem;
  overflow: hidden;
  border-radius: 2rem;
}

.questionanaire__nav-btn {
  border: none;
  background-color: rgb(15, 15, 15);
  padding: 0.5rem 1rem;
}

.questionanaire__nav-btn:hover {
  cursor: pointer;
  background-color: rgb(32, 32, 32);
}
