.hero {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: fit-content;
  max-width: 100%;
  max-height: 70rem;
  padding-bottom: 4rem;
}

.hero__image-container {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffdce0;
  width: 100%;
}

.hero__image {
  width: 100%;
  max-width: 100%;
  max-height: 60vh;
  content: url("../../assets/background-mobile.avif") !important;
  object-fit: cover;
}

.hero__call-to-action {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: fit-content;
}

.hero__title {
  margin: 2rem;
  font-size: 2.5rem;
  font-family: "geograph-bold";
}

.hero__text {
  height: fit-content;
  width: 80%;
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.2rem;
}

.hero__button {
  width: fit-content;
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border: 2px solid white;
  border-radius: 4rem;
  text-transform: uppercase;
  letter-spacing: 0.1rem;
  font-family: "geograph-bold";
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.hero__button:hover {
  filter: invert(1);
  cursor: pointer;
}

@media screen and (min-width: 768px) {
  .hero__image {
    max-height: 65vh;
    content: url("../../assets/background-desktop.avif") !important;
  }

  .hero__text {
    width: 100%;
  }
}
