.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.hero__image {
  margin-top: 2rem;
  max-width: 100%;
}

.hero__title {
  margin: 2rem;
  font-size: 2.5rem;
  font-weight: 900;
}

.hero__text {
  font-size: 1.8rem;
  text-align: center;
  line-height: 2.2rem;
}

.hero__button {
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border: 2px solid white;
  border-radius: 4rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.hero__button:hover {
  filter: invert(1);
}
