.hero {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.hero__image {
  margin-top: 2rem;
  max-width: 100%;
}

.hero__button {
  margin-top: 2rem;
  padding: 1.5rem 2rem;
  border: 2px solid white;
  border-radius: 4rem;
  font-size: 1.5rem;
  background-color: black;
  color: white;
}

.hero__button:hover {
  filter: invert(1);
}
