.chatbox-container {
  position: fixed;
  width: 35rem;
  max-width: 35rem;
  right: -200%;
  bottom: 2rem;
  opacity: 0;
  transition: all 0.2s linear;
  scrollbar-color: black;
  z-index: 1000;
}

.chatbox-container--active {
  right: 2rem;
  left: 50%;
  transform: translateX(-50%);
  height: fit-content;
  max-height: 60rem;
  opacity: 1;
}
.rsc {
  font-family: sans-serif;
}
.rsc-header {
  background-color: #faaab5;
  height: 3rem;
}

.rsc-header-title {
  text-align: center;
  font-weight: 900;
  letter-spacing: 0.08rem;
  width: 100%;
}

.rsc-ts-bubble {
  background-color: #c6ecf8;
  color: var(--almost-black);
  line-height: 1.7rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.15);
}

.rsc-os-option-element {
  background-color: lightblue;
  color: var(--almost-black);
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
}

.rsc-os-option-element:hover {
  cursor: pointer;
}

/* User */
.rsc-ts-user .rsc-ts-bubble {
  background-color: rgba(79, 198, 235, 0.548);
  color: rgb(0, 0, 0);
}

.chatbox__close {
  position: absolute;
  top: 0.8rem;
  right: 2rem;
  color: white;
  cursor: pointer;
  z-index: 1001;
}
