.result {
  animation: show-result 1s forwards;
}

.result__overlay {
  position: absolute;
  top: 0;
  left: 0;
  height: 100vh;
  width: 100vw;
  background-color: rgba(138, 2, 138, 0.582);
  opacity: 0.1;
  z-index: -1;
}

.result__content {
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: clamp(10rem, 60%, 50rem);
  padding: 5rem;
  border-radius: 2rem;
  box-shadow: 1px 1px 10px 2px rgba(0, 0, 0, 0.3);
  text-align: center;
  letter-spacing: 0.08rem;
  font-size: 1.5rem;
  background-color: white;
}

.result__title {
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 2rem;
}

.result__skin-type {
  display: block;
  margin: 0.8rem 0 2rem;
  font-style: italic;
  font-size: 1.5rem;
  font-weight: 900;
}

.result__call-to-action {
  margin-top: 2rem;
}

.result__link {
  color: rgb(194, 99, 122);
  font-weight: 900;
}

@keyframes show-result {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
