.carousel {
  position: relative;
  overflow: hidden;
  max-width: 100%;
  margin-bottom: 5rem;
  user-select: none;
}

.carousel__viewport {
  transition: all 0.2s linear;
}

.carousel .product-section {
  margin: 1rem;
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

.carousel__button {
  position: absolute;
  top: 50%;
  height: 5rem;
  width: 5rem;
  border: none;
  border-radius: 50%;
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  transform: translateY(-50%);
  background-color: #ffffff;
  cursor: pointer;
}

.carousel__button:hover {
  border: 1px solid rgba(0, 0, 0, 0.5);
}

.carousel__button--right {
  right: 1rem;
}
.carousel__button--left {
  left: 1rem;
}
