@font-face {
  font-family: "geograph-bold";
  src: url("./assets/geograph-edit-cufonfonts/geographwebbold.ttf");
}
@font-face {
  font-family: "geograph-regular";
  src: url("./assets/geograph-edit-cufonfonts/geographwebregular.ttf");
}
@font-face {
  font-family: "geograph-light";
  src: url("./assets/geograph-edit-cufonfonts/geographweblight.ttf");
}

@import url("./reset.css");

:root {
  font-size: 62.5%;
  --purple: #c355ee;
  --dark-purple: #51076e;
}

body {
  font-size: 1.8rem;
  font-family: "geograph-regular", sans-serif;
  overflow-x: hidden;
}

a {
  text-decoration: none;
}

em {
  font-style: italic;
}
