.chat-icon-container {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  bottom: 2rem;
  right: 2rem;
  background-color: #f00472;
  height: 5rem;
  width: 5rem;
  border-radius: 50%;
  transition: all 0.2s linear;
  box-shadow: rgba(0, 0, 0, 0.5) 2px 2px 10px;
  z-index: 3;
}

.chat-icon-container--active {
  display: none;
  visibility: hidden;
}

.chat-icon-container:hover {
  cursor: pointer;
  transform: scale(1.1);
}

.chat-icon {
  transform: scale(1.2);
}
